.center {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#actions {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--light);
    height: 70px;
    border-radius: 990px;
    user-select: none;
}

#actions > div {
    font-size: 24px;
    font-weight: 400;
    padding: 0;
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    transition: transform 100ms ease;
    background: linear-gradient(0deg, hsl(from var(--main) calc(h + 16) s l / 0.1), hsl(from var(--main) calc(h - 16) s l / 0.1));
    border: 1px solid var(--light);
    padding: 5px 10px;
    border-radius: 1000px;
    user-select: none;
}

.btn:active {
    transform: scale(0.95);
}

.create {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background-color: #00000030;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    z-index: 100;
}

.box {
    background: white;
    padding: 40px 0;
    border: 1px solid var(--light);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: max(350px, 35vw);
    overflow: auto;
    border-radius: 20px;
}

.info {
    text-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.textimg .info {
    width: 75%;
}

.box .custom-select {
    width: 200px;
}

.header {
    color: var(--main);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    user-select: none;
}

.selector {
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    background: linear-gradient(30deg, hsl(from var(--main) calc(h + 30) s l / 0.15), hsl(from var(--main) calc(h - 30) s l / 0.15));
    border: 1px solid var(--light);
    pointer-events: none;
    border-radius: 500px;
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    margin-top: 15px;
    gap: 15px;
}

.list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    overflow: visible;
}

.activity {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: start;
    width: 70%;
    border-radius: 35px;
    padding: 20px 12.5%;
    gap: 5px;
    overflow: hidden;
    --color1: #6700cf;
    background: linear-gradient(-60deg, hsl(from var(--color1) calc(h) s l / 0.12) 0%, hsl(from var(--color1) calc(h) s l / 0.0) 70%);
    border: 1px solid var(--light);
}

.ficon {
    width: 40%;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    right: 5%;
    opacity: 0.1;
    z-index: -1;
    transform: translate(0%, -50%);
}

.genre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.genreIcon {
    width: 30px;
    height: 30px;
}

.genreText {
    font-size: 24px;
    text-transform: uppercase;
}

.textimg .genre {
    font-size: 24px;
    text-transform: uppercase;
    width: 75%;
}

b {
    font-weight: 500;
}

.participants {
    width: 100%;
    display: grid;
    --part-gap: 1vw;
    grid-template-columns: repeat(var(--part-cols), calc((100% - var(--part-gap) * (var(--part-cols) - 1)) / var(--part-cols)));
    gap: var(--part-gap);
}

.participant {
    width: 100%;
    border: 1px solid #00000070;
    border-radius: 100px;
    text-align: center;
    color: black;
    padding: 8px 0;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(170deg, hsl(calc(var(--phue) - 0), 100%, 95%), hsl(calc(var(--phue) + 0), 100%, 80%));
}

.activityJoin, .eduJoin {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    color: hsl(from var(--main) h s calc(l * 0.5));
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid hsl(from var(--main) h s calc(l * 0.5));
}

.activityJoin:disabled {
    color: #555;
    cursor: default;
    margin-top: 10px;
    font-size: 16px;
    border-bottom: 1px solid #555;
}

.numberInput {
    display: inline-block;
    border: 1px solid var(--light) !important;
    border-radius: 10px;
    font-family: "Rubik";
    padding: 5px 10px;
    outline: none;
    max-width: 150px;
    overflow: hidden;
    text-wrap: nowrap;
}

textarea {
    resize: none;
    padding: 10px;
    border: 1px solid var(--light);
    border-radius: 10px;
    outline: none;
    font-family: "Rubik";
    margin-top: 5px;
    width: 200px;
    height: 50px;
}

descn {
    display: block;
    height: 5px;
}

.ancImg {
    box-shadow: 1px 1px 3px black;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(50%, -50%);
    border-radius: 3px;
    cursor: zoom-in;
    max-width: 25%;
    max-height: calc(100% - 20px);
    width: auto;
    height: auto;
}

.activity a, .activity a:active, .activity a:visited {
    color: #304f88;
    text-decoration: none;
}