#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#four {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10%) scale(0.9);
    }
    to {
        opacity: 1;
    }
}

#four > a {
    width: 25vw;
    display: block;
    font-size: 24px;
    height: 30vh;
    --color1: #6700cf;
    background: linear-gradient(-30deg, hsl(from var(--color1) calc(h + 20) s l / 0.2), hsl(from var(--color1) calc(h - 20) s l / 0.1));
    border: 1px solid hsl(from var(--color1) h s l / 0.4);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    animation: fade-in 500ms ease forwards;
    transition: box-shadow 1000ms ease;
    color: black !important;
    text-decoration: none !important;
}

#four > a:hover {
    box-shadow: 0 0 20px hsl(from var(--color1) h s l / 0.3);
}

#four > a:nth-child(2) {
    --color1: #0067cf;
    animation-delay: 250ms;
}

#four > a:nth-child(3) {
    --color1: #cf6700;
    animation-delay: 500ms;
}

#four > a:nth-child(4) {
    --color1: #67cf00;
    animation-delay: 750ms;
}

#four > a > div {
    color: black !important;
    text-decoration: none !important;
}