#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    border-width: 1px;
    border-style: none none solid none;
    border-image: linear-gradient(to right, hsl(from var(--main) calc(h - 30) s calc(l*1.3)), hsl(from var(--main) calc(h + 30) s calc(l*1.3)));
    border-image-slice: 1;
    height: 80px;
    background-color: var(--bg);
    z-index: 9999999999999;
    user-select: none;

    & a {
        text-decoration: none !important;
    }

    & .l {
        margin-left: 12vw;
        & .title {
            display: block;
            font-size: 36px;
            font-weight: 800;
            background: linear-gradient(-60deg, hsl(from var(--main) calc(h + 30) s calc(l * 0.95)), hsl(from var(--main) calc(h - 30) s l)) text;
            color: transparent;
            text-decoration: none;
        }
    }

    & .r {
        margin-right: 3vw;
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 22px;
        gap: 3vw;
        font-weight: 400;

        a, a:active, a:hover, a:visited {
            color: black !important;
        }

        & .help, & .about, #profile {
            color: black !important;
            cursor: pointer;
        }
    }
}